Source: liblinz-bde-perl
Section: perl
Priority: optional
Build-Depends: debhelper
Build-Depends-Indep: perl,
 libmodule-build-perl,
 libtest-exception-perl
Standards-Version: 3.9.5
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz-bde-perl.git
Vcs-Browser: https://github.com/linz/linz-bde-perl

Package: liblinz-bde-perl
Architecture: all
Depends: ${misc:Depends},
 ${perl:Depends},
 libfile-which-perl,
 linz-bde-copy
Recommends:
Description: The Bde module is used to read bulk-data extract files generated
 by Landonline. These are pipe delimited files of data.  The data in each file
 is preceded by header text defining the nature of the extract and the table
 and fields in the data.  The module allows for reading the files in text or
 compressed mode. It also modifies geometry properties, adding an SRID to the
 beginning and optionally offsetting the longitude.
